@charset "UTF-8";
html {
  font-size: 100%;
}
body {
  background-color: #f5f9fe;
  color: #333;
  font-size: 15px;
}
img {
  max-width: 100%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.incontent {
  max-width: 600px;
  margin: 0 auto;
}
/* hedder */
#header {
  margin-top: 60px;
}
#header .header-title {
  width: 165px;
  padding-top: 30px;
  line-height: 1px;
  margin-top: 40px;
  margin-bottom: -10px;
  margin-left: 13px;
}
#header .header-title a {
  max-width: 120%;
  height: 4px;
  margin-left: -5px;
  margin-top: 10px;
  margin-bottom: -5px;
}
.title {
  font-weight: bold;
  margin: 10px 0;
  font-size: 18px;
}

/* mainvisual */
#mainvisual {
  margin-bottom: 60px;
}
#mainvisual .mainvisual-img {
  margin-top: 17px;
}
/* index */
#index {
  background-color: white;
  padding: 20px 0;
  margin-top: 40px;
}
#index .incontent .title {
  margin-bottom: -13px;
}

#index .index-list {
  margin-left: -20px;
  font-size: 14px;
}
#index .index-list li {
  margin-bottom: 20px;
}
/* リストの最後にマージンを付けないとき */
#index .index-list li:last-child {
  margin-bottom: 0;
}
/* detail */
#detail {
  margin-bottom: 60px;
  padding: 30px 0 5px 0;
}
#detail .content {
  display: flex;
  align-items: flex-start;
  margin: 5px auto;
}
#detail .content .img {
  width: 270px;
  height: 280px;
  margin: 1px 60px 10px 0;
  /* margin-right: 60px; */
}
#detail .content .text .text-detail {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0;
}

#detail .content dl {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  margin: 15px 0;
  border-top: solid 1px #dedede;
  border-bottom: solid 1px #dedede;
  box-sizing: inherit;
  line-height: 12px;
}

#detail .content dt {
  font-size: 14px;
  width: 25%;
  display: block;
  color: #333;
  margin: 5px 0;
}

#detail .content dd {
  width: 75%;
  display: block;
  margin-inline-start: 40px;
  position: relative;
  margin: 5px 0;
}

#detail .content .text p {
  padding: 13px 0;
  font-size: 14px;
  margin-top: 2px;
  margin-left: auto;
  margin-bottom: 10px;
}

#detail .content .text .link {
  color: #333;
}

/* footer */
#footer {
  font-size: 5px;
  padding: 15px 0;
  margin: 5px auto 0 200px;
}
/* レスポンシブ */
@media screen and (max-width: 1024px) {
  .incontent {
    padding: 0 40px;
  }
  /* header */
  #header {
    padding: 0 10px;
  }
  /* mainvisual */
  #mainvisual {
    padding: 0 10px;
  }
  /* detail */
  #detail .content {
    /* 横並びにする */
    flex-direction: column;
  }
  #detail .content .img {
    width: 100%;
    margin: 0 0 25px 0;
  }
}
